doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(content='width=device-width, initial-scale=1.0' name='viewport')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        meta(name='Description' content='Enter your description here')
        meta(content='' name="keyWorld'ss")
        title SPA
        include template-layout/head-link.pug
    body
        include template-layout/header.pug
        include template-layout/banner.pug
        .blog-wp.box
            .container
                .row
                    .col-lg-4
                        .blog__item
                            .blog__img
                                a(href="blog-detail.html")
                                    img(src="./images/news-image-4.jpg" alt="")
                            .blog__content
                                .blog__date
                                    strong 08
                                    span OCT
                                .blog__meta
                                    ul
                                        li
                                            a(href="#") admin
                                        li
                                            a(href="#") 0 Comments
                                        li
                                            a(href="#") Latest News
                                h4.blog__title
                                    a(href="blog-detail.html")  Disclosing the Secrets of Success in Hotera.
                                .blog__text
                                    p Excepteur sint ocaecat cupidatat non proident sunt in culpa qui officia deserunt molit anim id est laborum. Super spiciatis unde omnis iste natus error sitvou ptatem
                                .blog__link
                                    a(href="#").text-capitalize
                                        span.far.fa-long-arrow-right
                                        | read more
                    .col-lg-4
                        .blog__item
                            .blog__img
                                a(href="blog-detail.html")
                                    img(src="./images/news-image-5.jpg" alt="")
                            .blog__content
                                .blog__date
                                    strong 08
                                    span OCT
                                .blog__meta
                                    ul
                                        li
                                            a(href="#") admin
                                        li
                                            a(href="#") 0 Comments
                                        li
                                            a(href="#") Latest News
                                h4.blog__title
                                    a(href="blog-detail.html") Disclosing the Secrets of Success in Hotera.
                                .blog__text
                                    p Excepteur sint ocaecat cupidatat non proident sunt in culpa qui officia deserunt molit anim id est laborum. Super spiciatis unde omnis iste natus error sitvou ptatem
                                .blog__link
                                    a(href="#").text-capitalize
                                        span.far.fa-long-arrow-right
                                        | read more
                    .col-lg-4
                        .blog__item
                            .blog__img
                                a(href="blog-detail.html")
                                    img(src="./images/news-image-6.jpg" alt="")
                            .blog__content
                                .blog__date
                                    strong 08
                                    span OCT
                                .blog__meta
                                    ul
                                        li
                                            a(href="#") admin
                                        li
                                            a(href="#") 0 Comments
                                        li
                                            a(href="#") Latest News
                                h4.blog__title
                                    a(href="blog-detail.html") Disclosing the Secrets of Success in Hotera.
                                .blog__text
                                    p Excepteur sint ocaecat cupidatat non proident sunt in culpa qui officia deserunt molit anim id est laborum. Super spiciatis unde omnis iste natus error sitvou ptatem
                                .blog__link
                                    a(href="#").text-capitalize
                                        span.far.fa-long-arrow-right
                                        | read more
        include template-layout/footer.pug
        include template-layout/src-script.pug